<main id="main" class="main">
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <!-- Left side columns -->
            <div class="col-lg-10">
                <div class="row">
                    <!-- Balance Bank Amount Card -->
                    <div class="col-xxl-3 col-md-6">
                        <div class="card info-card sales-card">
                            <div class="card-body">
                                <h5 class="card-title">Balance <span>| Amount</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-bank"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>₱14,500</h6>
                                        <span class="text-success small pt-1 fw-bold">₱10,000</span> <span class="text-muted small pt-2 ps-1">Available Balance</span>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End Sales Card -->

                    <!-- Revenue Card -->
                    <div class="col-xxl-3 col-md-6">
                        <div class="card info-card revenue-card">

                            <div class="card-body">
                                <h5 class="card-title">Loaned <span>|Total Amount</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-currency-dollar"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>₱{{ totalLoanedAmount | number }}</h6>
                                        <span class="text-success small pt-1 fw-bold">₱4,000</span> <span class="text-muted small pt-2 ps-1">Collectable</span> &
                                        <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End Revenue Card -->
                    <!-- Loan Due Amount Card -->
                    <div class="col-xxl-3 col-md-6">
                        <div class="card info-card customers-card">
                            <div class="card-body">
                                <h5 class="card-title">Loaned <span>|Due Amount</span></h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-currency-dollar"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>₱{{ totalDueAmount }}</h6>
                                        <span class="text-danger small pt-2 fw-bold">Due</span> <span class="text-muted small pt-2 ps-1">as of Jan</span> &
                                        <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End Revenue Card -->

                    <!-- Paid loan amount Card -->
                    <div class="col-xxl-3 col-md-6">
                        <div class="card info-card revenue-card">
                            <div class="card-body">
                                <h5 class="card-title">Paid <span>|Loan Amount</span></h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-currency-dollar"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>₱{{ totalPaidLoanAmount | number }}</h6>
                                        <span class="text-danger small pt-2 fw-bold">Due</span> <span class="text-muted small pt-2 ps-1">as of Jan</span> &
                                        <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End Revenue Card -->

                    <!-- Over Due Card -->
                    <div class="col-xxl-3 col-md-6">
                        <div class="card info-card customers-card">
                            <div class="card-body">
                                <h5 class="card-title">Over Due <span>|Amount</span></h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-currency-dollar"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>₱{{ totalOverDueAmount| number }}</h6>
                                        <span class="text-danger small pt-2 fw-bold">Over Due</span> <span class="text-muted small pt-2 ps-1">as of Jan</span> &
                                        <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End Revenue Card -->

                    <!-- Customers Total Active Users  -->
                    <div class="col-xxl-3 col-xl-12">
                        <div class="card info-card customers-card">

                            <div class="card-body">
                                <h5 class="card-title">Customers <span>| Total Active Users</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{ totalActiveUser }}</h6>
                                        <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- End Customers Card -->

                    <!-- laon Request List Card -->
                    <div class="col-xxl-3 col-md-6">
                        <div class="card info-card sales-card">
                            <div class="card-body">
                                <h5 class="card-title">Loan <span>| Request</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-send-plus"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{ totalRequestLoanAccount }}</h6>
                                        <span class="text-success small pt-1 fw-bold">10%</span> <span class="text-muted small pt-2 ps-1">Increase</span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Sales Card -->
                    <div class="col-xxl-3 col-md-6">
                        <div class="card info-card sales-card">
                            <div class="card-body">
                                <h5 class="card-title">Loan <span>| Active Account</span></h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-list"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{ totalActiveLoanAccount }}</h6>
                                        <span class="text-success small pt-1 fw-bold">10%</span> <span class="text-muted small pt-2 ps-1">Increase</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- User With Loans List -->
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">
                            <div class="card-body">
                                <h5 class="card-title">User With Loans <span>| List</span></h5>
                                <table class="table table-borderless datatable">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Interest</th>
                                            <th scope="col">+ Interest</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let user of listUserModel">
                                            <th scope="row"><a href="#">U{{ user.id | number : '3.0' }}</a></th>
                                            <td>{{ user.firstname }} {{ user.lastname }}</td>
                                            <td>₱{{ totalLoanAccount(user.loan_account) | number }}</td>
                                            <td>10%</td>
                                            <td>₱{{ totalLoanAccountWithInterest(user.loan_account) | number}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <!-- End Recent Sales -->

                    <!-- Recent Sales -->
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">
                            <div class="card-body">
                                <h5 class="card-title">User Loan Request<span>| List</span></h5>
                                <table class="table table-borderless datatable">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Amount</th>
                                            <!-- <th scope="col">Interest</th> -->
                                            <!-- <th scope="col">+ Interest</th>
                                            <th scope="col">No Months</th>
                                            <th scope="col">No Terms</th>
                                            <th scope="col">Date Pay Off</th> -->
                                            <th scope="col">Status</th>
                                            <th scope="col">Option</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of listRequestLoanAccount">
                                            <th scope="row">
                                                <button class="btn btn-sm btn-link" (click)="viewBreakDown(item)">
                                                    R{{ item.id | number : '3.0'}}
                                                </button>
                                            </th>
                                            <td>{{ item.users.firstname }} {{ item.users.lastname }}</td>
                                            <td>₱ {{ item.amount | number }}</td>
                                            <!-- <td>10%</td>
                                            <td>₱ {{ item.total_amount_loan_and_interest }}</td>
                                            <td> {{ item.no_months }}</td>
                                            <td> {{ term_counts(item.loan_logs) }}</td>
                                            <td> {{ item.date_paid_off | date : 'MMM-yyyy' }}</td> -->
                                            <td>
                                                <span *ngIf="!item.is_approved && item.is_active" class="badge bg-info">For Approval</span>
                                                <span *ngIf="item.is_approved && item.is_active && !item.is_release" class="badge bg-success">For Releasing</span>
                                                <span *ngIf="item.is_approved && item.is_active && item.is_release" class="badge bg-success">Released</span>
                                                <span *ngIf="!item.is_approved && !item.is_active && !item.is_release" class="badge bg-danger">Rejected</span>
                                            </td>
                                            <td>
                                                <button type="button" *ngIf="!item.is_approved && !item.is_release && item.is_active" class="btn btn-sm btn-success" (click)="requestApprove_Reject(item, true)">Approve</button>
                                                <button type="button" *ngIf="!item.is_approved && !item.is_release && item.is_active" class="btn btn-sm btn-warning" (click)="requestApprove_Reject(item, false)">Reject</button>
                                                <button type="button" *ngIf="item.is_approved && !item.is_release && item.is_active" class="btn btn-sm btn-success" (click)="requestRelease_Reject(item, true)">Release</button>
                                                <button type="button" *ngIf="item.is_approved && !item.is_release && item.is_active" class="btn btn-sm btn-warning" (click)="requestRelease_Reject(item, false)">Reject</button>
                                                <button type="button" class="btn btn-sm btn-info" (click)="viewBreakDown(item)">Info</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                    <!-- End Recent Sales -->

                    <!-- User With Loans List -->
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">
                            <div class="card-body">
                                <h5 class="card-title">Rejected Loan Request <span>| List</span></h5>
                                <table class="table table-borderless datatable">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Interest</th>
                                            <th scope="col">+ Interest</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let req of list_reject_loan_request">
                                            <th scope="row"><a href="#">L{{ req.id | number : '3.0' }}</a></th>
                                            <td>{{ req.users.firstname }} {{ req.users.lastname }}</td>
                                            <td>₱{{ req.amount | number }}</td>
                                            <td>10%</td>
                                            <td>₱{{ req.total_amount_loan_and_interest | number}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <!-- End Recent Sales -->

                </div>
            </div>
            <!-- End Left side columns -->

            <!-- Right side columns -->
            <div class="col-lg-2">
                <!-- Recent Activity -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Recent Activity <span>| Today</span></h5>
                        <div class="activity">
                            <div class="activity-item d-flex">
                                <div class="activite-label">32 min</div>
                                <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                                <div class="activity-content">
                                    Quia quae rerum <a href="#" class="fw-bold text-dark">explicabo officiis</a> beatae
                                </div>
                            </div>
                            <!-- End activity item-->
                            <div class="activity-item d-flex">
                                <div class="activite-label">56 min</div>
                                <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                                <div class="activity-content">
                                    Voluptatem blanditiis blanditiis eveniet
                                </div>
                            </div>
                            <!-- End activity item-->

                            <div class="activity-item d-flex">
                                <div class="activite-label">2 hrs</div>
                                <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                                <div class="activity-content">
                                    Voluptates corrupti molestias voluptatem
                                </div>
                            </div>
                            <!-- End activity item-->

                            <div class="activity-item d-flex">
                                <div class="activite-label">1 day</div>
                                <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                                <div class="activity-content">
                                    Tempore autem saepe <a href="#" class="fw-bold text-dark">occaecati voluptatem</a> tempore
                                </div>
                            </div>
                            <!-- End activity item-->

                            <div class="activity-item d-flex">
                                <div class="activite-label">2 days</div>
                                <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                                <div class="activity-content">
                                    Est sit eum reiciendis exercitationem
                                </div>
                            </div>
                            <!-- End activity item-->

                            <div class="activity-item d-flex">
                                <div class="activite-label">4 weeks</div>
                                <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                                <div class="activity-content">
                                    Dicta dolorem harum nulla eius. Ut quidem quidem sit quas
                                </div>
                            </div>
                            <!-- End activity item-->

                        </div>

                    </div>
                </div>
                <!-- End Recent Activity -->

            </div>
            <!-- End Right side columns -->

        </div>
    </section>
</main>