<main id="main" class="main">
    <div class="pagetitle">
        <h1>List of Users</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">All Users</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">
                            <div class="card-body">
                                <h5 class="card-title">Active Users <span>| List</span></h5>
                                <table class="table table-borderless datatable">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Interest</th>
                                            <th scope="col">+ Interest</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- <tr *ngFor="let req of list_reject_loan_request">
                                        <th scope="row"><a href="#">L{{ req.id | number : '3.0' }}</a></th>
                                        <td>{{ req.users.firstname }} {{ req.users.lastname }}</td>
                                        <td>₱{{ req.amount | number }}</td>
                                        <td>10%</td>
                                        <td>₱{{ req.total_amount_loan_and_interest | number}}</td>
                                    </tr> -->
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">
                            <div class="card-body">
                                <h5 class="card-title">Block Users <span>| List</span></h5>
                                <table class="table table-borderless datatable">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Interest</th>
                                            <th scope="col">+ Interest</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- <tr *ngFor="let req of list_reject_loan_request">
                                      <th scope="row"><a href="#">L{{ req.id | number : '3.0' }}</a></th>
                                      <td>{{ req.users.firstname }} {{ req.users.lastname }}</td>
                                      <td>₱{{ req.amount | number }}</td>
                                      <td>10%</td>
                                      <td>₱{{ req.total_amount_loan_and_interest | number}}</td>
                                  </tr> -->
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">
                            <div class="card-body">
                                <h5 class="card-title">Deleted Users <span>| List</span></h5>
                                <table class="table table-borderless datatable">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Interest</th>
                                            <th scope="col">+ Interest</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- <tr *ngFor="let req of list_reject_loan_request">
                                      <th scope="row"><a href="#">L{{ req.id | number : '3.0' }}</a></th>
                                      <td>{{ req.users.firstname }} {{ req.users.lastname }}</td>
                                      <td>₱{{ req.amount | number }}</td>
                                      <td>10%</td>
                                      <td>₱{{ req.total_amount_loan_and_interest | number}}</td>
                                  </tr> -->
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>