<main id="main" class="main">
  <div class="pagetitle">
      <h1>Fund Transaction</h1>
      <nav>
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active">Admin</li>
              <li class="breadcrumb-item active">Fund Transaction</li>
          </ol>
      </nav>
  </div>

  <section class="section dashboard">
      <div class="row">
          <div class="col-12">
                <div class="card recent-sales overflow-auto">
                    <div class="card-body">
                        <h5 class="card-title">Transaction History <span>| List</span></h5>
                        <table class="table table-borderless datatable">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Bank Info</th>
                                    <th scope="col">WhoIs</th>
                                    <th scope="col">Trans. Type</th>
                                    <th scope="col">Tag</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Notes</th>
                                    <th scope="col">Option</th>
                                    <!-- <th *ngIf="userRole" scope="col">Options</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr >
                                    <th scope="row">
                                        <!-- (click)="viewBreakDown(item)" -->
                                        <button class="btn btn-sm btn-link">
                                            WA-</button>
                                    </th>
                                    <td> item.account_no </td>
                                    <td> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
      </div>
  </section>  
  </main> 
