<main id="main" class="main">
    <div class="pagetitle">
        <h1>Fund Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Admin</li>
                <li class="breadcrumb-item active">Fund Dashboard</li>
            </ol>
        </nav>
    </div>

    <section class="section dashboard">
        <div class="row">
            <!-- Left side columns -->
            <div class="col-lg-12">
                <div class="row">         
                    <div class="col-xxl-3 col-md-6">
                        <div class="card info-card sales-card">
                            <div class="card-body">
                                <h5 class="card-title">Total <span>| Wallet Account</span></h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-cart"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>0</h6>
                                        <span class="text-success small pt-1 fw-bold">₱0</span> <span class="text-muted small pt-2 ps-1">Total Amount</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6">
                        <div class="card info-card revenue-card">
                            <div class="card-body">
                                <h5 class="card-title">Total <span>| Available Amount</span></h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-currency-dollar"></i>
                                    </div>
                                    <div class="ps-3">
                                        <!-- <h6>₱{{ loanDetails.total_loan_amount | number }}</h6> -->
                                        <h6>₱0</h6>
                                        <span class="text-success small pt-1 fw-bold">₱0</span> <span class="text-muted small pt-2 ps-1">Paid as of Nov.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-12">
                        <div class="card info-card customers-card">

                            <div class="card-body">
                                <h5 class="card-title">Total <span>| Onhold Amount</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-currency-dollar"></i>
                                    </div>
                                    <div class="ps-3">
                                        <!-- <h6>₱{{ totalAmountDue | number }}</h6> -->
                                        <h6>₱0</h6>
                                        <span class="text-danger small pt-1 fw-bold">Due</span><span class="text-muted small pt-2 ps-1">as of Dec</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-12">
                        <div class="card info-card revenue-card">
                            <div class="card-body">
                                <h5 class="card-title">Total <span>| Gain Amount</span></h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-currency-dollar"></i>
                                    </div>
                                    <div class="ps-3">
                                        <!-- <h6>₱{{ totalAmountDue | number }}</h6> -->
                                        <h6>₱0</h6>
                                        <span class="text-danger small pt-1 fw-bold">Due</span><span class="text-muted small pt-2 ps-1">as of Dec</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-12" *ngIf="!isCreateWallet">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <button (click)="showCreateWallet()" class="btn btn-primary">Create Wallet Account</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12" *ngIf="isCreateWallet">
                        <div class="card recent-sales overflow-auto">
                            <div class="card-body">
                                <h5 class="card-title">Wallet Account <span>| Create</span></h5>                                
                                <div class="col-sm-12">
                                    <div class="form-floating mb-3">
                                      <input type="text" class="form-control" id="floatingInput" placeholder="Account No." >
                                      <label for="floatingInput">Account No.</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" placeholder="Account Name" >
                                        <label for="floatingInput">Account Name.</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <select id="no_month_term" id="floatingInput" class="form-select" name="no_month_term">
                                            <option  selected>Select</option>
                                            <option  value="Bank">Traditional Bank</option>
                                            <option  value="Digital Bank">Monthly</option>
                                          </select>
                                        <label for="floatingInput">Type</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <select id="no_month_term" id="floatingInput" class="form-select" name="no_month_term">
                                            <option  selected>Select</option>
                                            <option  value="Bank">Traditional Bank</option>
                                            <option  value="Digital Bank">Monthly</option>
                                          </select>
                                        <label for="floatingInput">Bank Name</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" placeholder="Bank Name Prefix" >
                                        <label for="floatingInput">Bank Name Prefix.</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <select id="no_month_term" id="floatingInput" class="form-select" name="Wallet Owner">
                                            <option  selected>Select</option>
                                            <option  value="Bank">Traditional Bank</option>
                                            <option  value="Digital Bank">Monthly</option>
                                          </select>
                                        <label for="floatingInput">Wallet Owner</label>
                                    </div>

                                      <div class="modal-footer" style="margin-top: 1%;">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="hideCreateWallet()">Close</button>
                                        <button type="button" class="btn btn-primary" style="margin-left: 1%;" (click)="SaveAdminAction()">Save changes</button>
                                        <!-- <button *ngIf="proofOfPayment.notes == ''" type="button" class="btn btn-primary" style="margin-left: 1%;" disabled>Save changes</button> -->
                                      </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <!-- Recent Sales -->
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">
                            <div class="card-body">
                                <h5 class="card-title">Wallet Account <span>| List</span></h5>
                                <table class="table table-borderless datatable">
                                    <thead>
                                        <tr>
                                            <th scope="col">Account No.</th>
                                            <th scope="col">Acount Name</th>
                                            <th scope="col">Acount Balance</th>
                                            <th scope="col">Account Owner</th>
                                            <th scope="col">Option</th>
                                            <!-- <th *ngIf="userRole" scope="col">Options</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- <tr *ngFor="let item of listLoanAccount">
                                            <th scope="row">
                                                <button class="btn btn-sm btn-link" (click)="viewBreakDown(item)">
                                                    L-{{ item.id | number:'3.0' }}</button>
                                            </th>
                                            <td>₱{{ item.amount }}</td>
                                            <td>₱{{ item.total_amount_loan_and_interest }}</td>
                                            <td>{{ item.date_loan|date:'MMM/dd/yyyy'}}</td>
                                            <td>{{ item.date_paid_off|date:'MMM/dd/yyyy'}}</td>
                                            <td>
                                                <span *ngIf="item.is_active && item.is_approved && item.is_release" class="badge bg-success">Active</span>
                                                <span *ngIf="item.is_active && item.is_approved && !item.is_release" class="badge bg-success">For Releasing</span>
                                                <span *ngIf="item.is_active && !item.is_approved && !item.is_release" class="badge bg-warning">For Approval</span>
                                                <span *ngIf="!item.is_active" class="badge bg-danger">Reject</span>
                                            </td>
                                            <td *ngIf="userRole">
                                                <button *ngIf="item.is_active && item.is_approved" type="button" class="btn btn-sm" disabled>Approved</button>
                                                <button *ngIf="!item.is_active && !item.is_approved" type="button" class="btn btn-sm" disabled>Rejected</button>
                                                <button *ngIf="item.is_active && !item.is_approved" type="button" class="btn btn-sm btn-primary">Approve</button>
                                                <button *ngIf="item.is_active && !item.is_approved" type="button" class="btn btn-sm btn-danger">Reject</button>
                                            </td>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- End Recent Sales -->
                </div>
            </div>
            <!-- End Left side columns -->
        </div>
        <!-- Modal -->

    </section>

</main>