<main id="main" class="main">
    <div class="pagetitle">
        <h1>Income Salary</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Income</li>
                <li class="breadcrumb-item active">Salary</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Salary Form</h5>
                        <!-- Vertical Form -->
                        <form class="row g-3" #salaryForm="ngForm" (ngSubmit)="onSubmit()">
                            <div class="col-12">
                                <label for="source" class="form-label">Source</label>
                                <select id="source" class="form-select" [(ngModel)]="salaryModel.source" name="source">
                                  <option selected value="Salary (FJ)">Salary (FJ)</option>
                                  <option value="Others">Others</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <label for="amount" class="form-label">Amount</label>
                                <input type="number" class="form-control" id="amount" [(ngModel)]="salaryModel.amount" name="amount">
                            </div>
                            <div class="col-12">
                                <label for="date" class="form-label">Date</label>
                                <input type="date" class="form-control" id="date" [(ngModel)]="salaryModel.date" name="date">
                            </div>
                            <div class="">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                        <!-- Vertical Form -->
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Salary Form</h5>
                        <!-- Vertical Form -->

                        <!-- Vertical Form -->
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
<!-- End #main -->