<main id="main" class="main">
    <div class="pagetitle">
        <h1>Penalty Page</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Admin</li>
                <li class="breadcrumb-item active">Penalty Page</li>
            </ol>
        </nav>
    </div>

    <section class="section dashboard">
        <div class="row">
          <div class="col-xxl-3 col-md-6" *ngFor="let whois of whoIsModelList">
            <div class="card info-card sales-card">
                <div class="card-body">
                    <h5 class="card-title">Total <span>| {{ whois.name }} Account</span></h5>
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-currency-dollar"></i>
                        </div>
                        <div class="ps-3">
                            <h6>{{ whois.totalAmount }}</h6>
                            <span class="text-danger small pt-1 fw-bold">₱{{ whois.totalPayableAmount }}</span> <span class="text-muted small pt-2 ps-1">Payable as of Nov.</span>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
            <!-- <div class="col-xxl-3 col-md-6">
                <div class="card info-card revenue-card">
                    <div class="card-body">
                        <h5 class="card-title">Total <span>| FW Amount</span></h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-currency-dollar"></i>
                            </div>
                            <div class="ps-3">
                                <h6>₱0</h6>
                                <span class="text-danger small pt-1 fw-bold">₱0</span> <span class="text-muted small pt-2 ps-1">Payable as of Nov.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </section>
    

    <section class="section dashboard">
      <div class="row">
        <div class="col-12" *ngIf="!isCreate">
          <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <button (click)="isCreateAction()" class="col-3 btn btn-primary">Create Penalty Entry</button>
                </div>
            </div>
          </div>
        </div>  

        <div class="col-12" *ngIf="isCreate">
          <div class="card recent-sales overflow-auto">
              <div class="card-body">
                  <h5 class="card-title">Penalty Entry <span>| Create</span></h5>
                  <div class="col-sm-12">
                    <div class="form-floating mb-3">
                        <select id="no_month_term" id="floatingInput" class="form-select" name="Wallet Owner" [(ngModel)]="penaltyID" (change)="onchange()">
                            <option *ngFor="let item of ruleList"  value="{{ item.id}}">{{ item.penalty }} - {{ item.rule }}</option>
                          </select>
                        <label for="floatingInput">Mistake</label>
                      </div>

                      <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="floatingInput" placeholder="Penalty Amount" [(ngModel)]="model.amount" disabled>
                          <label for="floatingInput">Penalty Amount</label>
                      </div>
                      
                      <div class="form-floating mb-3">
                        <select id="no_month_term" id="floatingInput" class="form-select" name="Who Is?" [(ngModel)]="userID" (change)="onchangeWhoIs()">
                            <option *ngFor="let item of whoIsList"  value="{{ item.id}}">{{ item.firstname }} {{ item.lastname }}</option>
                          </select>
                        <label for="floatingInput">Who Is?</label>
                      </div>
                        <div class="modal-footer" style="margin-top: 1%;">
                          <button type="button" class="btn btn-warning" style="margin-left: 1%;" (click)="isCreateAction()">Cancel</button>
                          <button type="button" class="btn btn-primary" style="margin-left: 1%;" (click)="SaveAdminAction()">Save changes</button>
                        </div>
                      </div>
              </div>
          </div>
      </div>
        
        <div class="col-12">
          <div class="card recent-sales overflow-auto">
              <div class="card-body">
                  <h5 class="card-title">Wallet Account <span>| List</span></h5>
                  <table class="table table-borderless datatable">
                      <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Mistake</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Name</th>
                            <th scope="col">Date</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let item of penaltyList">
                              <th scope="row">
                                  <button class="btn btn-sm btn-link">
                                      P-{{ item.id | number:'3.0' }}</button>
                              </th>
                              <td>{{ item.mistake }} </td>
                              <td>₱{{ item.amount }}</td>
                              <td>{{ item.name }}</td>
                              <td>{{ item.created_at | date:'yyyy-MM-dd HH:mm' }}</td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>  

  </section>
    </main>
